name: Build and deploy docs

on:
  push:
    branches:
      - website

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install MkDocs
      run: |
        pip install mkdocs mkdocs-material

    - name: Build Docs
      run: mkdocs build --clean

    - name: Copy docs HTML to /docs
      run: |
        rm -rf docs/*
        cp -r site/* docs/

    - name: Commit updated docs
      run: |
        git config --local user.name "GitHub Actions"
        git config --local user.email "actions@github.com"
        git add docs
        git commit -m "Update documentation HTML" || echo "No changes"
        git push origin website
